<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카페 MBTI 테스트</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6J7DRLHTG9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6J7DRLHTG9');
    </script>
</head>

<body>
    <div class="wrapper">
        <form th:action="@{test}" method="get">
            <button class="start-button">
                <span class="start-text">시작하기</span>
                <div class="participants" th:text="'지금까지 ' + ${participants} + '명이 참여했어요!'"></div>
            </button>
        </form>
        <p class="email-link">hightensions99@gmail.com</p>
    </div>
</body>

</html>