<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카페 MBTI 테스트</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/loading.css" type="text/css" />
</head>
<body>
<div class="background-container"></div>
<div class="container">
    <div class="loading-container">
        <img id="loading-image" src="/img/loading/플랫화이트.png" alt="Loading Image">
        <p class="text">음료 만드는 중...</p>
    </div>
</div>

<script>
    const images = [
        '/img/loading/플랫화이트.png',
        '/img/loading/레몬티.png',
        '/img/loading/아포카토.png',
        '/img/loading/딸기라떼.png'
    ];
    let index = 0;
    const imgElement = document.getElementById('loading-image');

    setInterval(() => {
        index = (index + 1) % images.length;
        imgElement.style.opacity = 0;
        setTimeout(() => {
            imgElement.src = images[index];
            imgElement.style.opacity = 1;
        }, 300);
    }, 800);

    // 세션 스토리지에서 MBTI 값 가져오기
    const params = JSON.parse(sessionStorage.getItem("mbti_params"));

    if (params) {
        axios.post('/api/v1/result', params)
            .then(response => {
                const resultMbti = response.data.resultMbti;
                const ratio = response.data.ratio;

                // 세션 스토리지에 결과 저장
                sessionStorage.setItem("resultMbti", resultMbti);
                sessionStorage.setItem("ratio", ratio);

                // 3초 후 결과 페이지로 이동
                setTimeout(() => {
                    // window.location.href = "/api/v1/getMbtiResult";
                    window.location.href = '/api/v1/'+resultMbti;
                }, 3000);
            })
            .catch(error => {
                console.error("MBTI 결과 전송 중 오류 발생:", error);
            });
    } else {
        console.error("세션 스토리지에서 MBTI 데이터를 찾을 수 없습니다.");
        setTimeout(() => {
            // window.location.href = "/api/v1/getMbtiResult";
            window.location.href = '/api/v1/'+resultMbti;
        }, 3000);
    }
</script>
</body>
</html>