<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tensions.cafembtitest.repository.CafeMbtiMapper">

    <insert id="setMbtiResult" parameterType="string">
        INSERT INTO TB_MBTI_RESULT
                  (
                    MBTI
                  , CREATED_AT
                  )
             VALUES
                  (
                    #{result}
                  , NOW()
                  )
    </insert>

    <select id="getMbtiPercent" parameterType="string" resultType="float">
        SELECT ROUND((COUNT(*) * 100.0 / (SELECT COUNT(*) FROM TB_MBTI_RESULT)), 1) AS PERCENTAGE
          FROM TB_MBTI_RESULT TMR
         WHERE TMR.MBTI = #{result}
      GROUP BY TMR.MBTI;
    </select>

    <select id="getPeopleCount" parameterType="int">
        SELECT COUNT(*)
          FROM TB_MBTI_RESULT A
    </select>

    <select id="selectMbtiQuestion" parameterType="String" resultType="map">
        /* SQL ID: CafeMbtiMapper.selectMbtiQuestion */
        SELECT QSTN_ID
             , QSTN_ANS_ID
             , QSTN_CN
             , QSTN_ANS_MBTI
          FROM TB_MBTI_QSTN_ANS
         WHERE QSTN_ID = #{qstnNum};
    </select>
</mapper>