<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tensions.cafembtitest.repository.CafeMbtiMapper">

    <insert id="setMbtiResult" parameterType="string">
        INSERT INTO tb_mbti_result (mbti)
        VALUES(#{result})
    </insert>

    <select id="getMbtiPercent" parameterType="string" resultType="int">
        SELECT
               (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM tb_mbti_result)) AS percentage
        FROM tb_mbti_result a
        WHERE a.mbti = #{result}
        GROUP BY a.mbti;
    </select>
</mapper>